<%= form_with url: stocks_path, class: 'grid', method: 'get' do |form| %>
  <%= form.text_field :q, value: @q, placeholder: "Enter a stock ticker" %>
  <%= form.submit 'Search' %>
<% end %>

<table role="grid">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Description</th>
      <th>Currency</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.symbol, stock_path(stock) %></td>
        <td><%= stock.description %></td>
        <td><%= stock.currency %></td>
        <td><%= stock.security_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
