<hgroup>
  <h1><%= @stock.symbol %></h1>
  <p><%= @stock.description %></h3>
</hgroup>

<article>
  <header>
    <hgroup>
      <h1>Recent News</h1>
      <p><%= @company_news.first.headline %></p>
    </hgroup>
  </header>
  <blockquote>
    <%= @company_news.first.summary %>
  </blockquote>
</article>

<article>
  <header><h1>Quote</h1></header>
  <table>
    <thead>
      <tr>
        <th><a href="" class="primary">Current Price</a></th>
        <th><a href="" class="primary">Change</a></th>
        <th><a href="" class="primary">Percent Change</a></th>
        <th><a href="" class="primary">High</a></th>
        <th><a href="" class="primary">Low</a></th>
        <th><a href="" class="primary">Open</a></th>
        <th><a href="" class="primary">Previous Close</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @quote.c %></td>
        <td><%= @quote.d %></td>
        <td><%= @quote.dp %></td>
        <td><%= @quote.h %></td>
        <td><%= @quote.l %></td>
        <td><%= @quote.o %></td>
        <td><%= @quote.pc %></td>
      </tr>
    </tbody>
  </table>
</article>

<% if @recommendation_trends.any? %>
  <article id="recommendation-trends" data-stock-id="<%= @stock.id %>">
    <header>
      <h1>Recommendation Trends</h1>
    </header>
    <div id="recommendation-trends-chart"></div>
    <a id="recommendation-trends-chart-busy-spinner" href="#" aria-busy="true">
      Generating chart, please wait…
    </a>
  </article>
<% end %>
