<!DOCTYPE html>
<html>
  <head>
    <title>Stonks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="container">
      <ul>
        <li><strong>Stonks</strong></li>
      </ul>
      <ul>
        <li><%= link_to 'Stocks', stocks_path, class: 'secondary' %></li>
        <li><%= link_to 'Settings', edit_settings_path, class: 'secondary' %></li>
        <li><a href="" class="contrast"><%= image_tag 'github-svgrepo-com'%></a></li>
      </ul>
    </nav>
    <hr>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
